/* style/1/paticka.css * Verze: V16 * Aktualizace: 04.03.2026 */

/* =========================
   PATIČKA
   ========================= */

.footer{
  width:100%;
  background:#fff;
  border-top:1px solid rgba(0,0,0,.12);
}

.footer_box{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:0px;
  padding:6px 0px 6px 0px;
  font-size:11px;
}

.foot_left{
  text-align:left;
  max-width:350px;
}

.foot_center{
  text-align:center;
  flex:1;
  opacity:.85;
}

.foot_right{
  text-align:right;
  max-width:350px;
}

/* =========================
   MOBIL
   ========================= */

@media (max-width: 720px){
  .footer_box{
    flex-direction:column;
    align-items:flex-start;
    gap:4px;
  }
  .foot_center{ text-align:left; }
  .foot_right{ text-align:left; }
}

/* style/1/paticka.css */
